<!DOCTYPE html>
<!-- SPA application simultaing the behaviour of a set of real applications installed on users' smartphones -->
{% load staticfiles %}
<html ng-app ="findPark">
<head>
    <script src ="https://code.jquery.com/jquery-2.1.1.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static "css/sticky-footer.css" %} " rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src='{% static "bower_components/lodash/dist/lodash.min.js" %} '></script>
    <script src='{% static "bower_components/angular-google-maps/dist/angular-google-maps.min.js" %} '></script>
    <script src="{% static "js/controller.js" %} "></script>
    <script src="{% static "js/app.js" %} "></script>
    <script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
</head>
<body>
    <style type="text/css">
        .centerdiv {
            margin-top: 50px;
            text-align: center;
        }
        .angular-google-map-container { height: 400px; }
    </style>
    <br>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <ul class="nav navbar-nav">
            {% if user != None and user.username != '' %}
                <a class="navbar-brand" href="#">{{ user.username }}</a>
                <li><a href="./logout/">logout</a></li>
            {% else %}
                <li><a href="#" data-toggle="modal" data-target="#login">login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="page-header centerdiv">
        <br>
        <h1>Welcome to FindParking</h1>
        <h2>Find your parking and share!</h2>
    </div>
{% verbatim %}
    <div class="container-fluid" ng-controller="mapCtrl">
        <div class="row">
            <div class="col-md-12 col-sd-6">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker coords="alice.coords" options="alice.options" events="alice.events" idkey="alice.id"
                            icon= "alice.icon">
                    </ui-gmap-marker>
                    <ui-gmap-marker coords="bob.coords" options="bob.options" events="bob.events" idkey="bob.id" icon="bob.icon">
                    </ui-gmap-marker>
                    <ui-gmap-marker coords="chuck.coords" options="chuck.options" events="chuck.events" idkey="chuck.id" icon= "chuck.icon">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
             <!--<div class="col-md-2">
                restdata : {{ restData }}
            </div>-->
        </div>
    </div>
{% endverbatim %}
    <br>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">riccardo lorenzon 2k15. All rights reserved.</p>
      </div>
    </footer>
</body>
</html>